body {
    background-image: url(Missia.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}
h1 {
    color:blue;
}
.lorem{
    background-color: aqua;
}
.aligncenter{
    text-align: center;
}